.my-badges-big li {
    list-style-type: none;
    text-align: center !important;
    padding-bottom: 16px !important;
}
.my-badges-small li {
    list-style-type: none;
    text-align: left !important;
    padding-bottom: 16px !important;
}
.my-badges-bigoverlapping li {
    list-style-type: none;
    text-align: center !important;
    padding-bottom: 16px !important;
}
.my-badges-smalloverlapping li {
    list-style-type: none;
    text-align: left !important;
    padding-bottom: 16px !important;
}
.my-badges-smalloverlapping .badge-title, .my-badges-bigoverlapping .badge-title {
    display: none;
}
.my-badges-small li .badge-image {
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.my-badges-big li .badge-image {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.my-badges-small li img.expireimage {
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    z-index: 2;
    margin-left: -25px;
}
.my-badges-big li img.expireimage {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 2;
    margin-left: -100px;
}
.my-badges-big span.badge-name,
.my-badges-small span.badge-name {
    white-space: nowrap;
}
ul.my-badges-big,
ul.my-badges-small,
ul.my-badges-smalloverlapping,
ul.my-badges-bigoverlapping {
    padding: 20px 0 0 0;
    margin: 0;
}

#page-admin-blocks-bs_recent_badges-about .about-box {
    margin-top: 50px;
}

#page-admin-blocks-bs_recent_badges-about .about-text,
#page-admin-blocks-bs_recent_badges-about .donation-text {
    margin-bottom: 12px;
}

#page-admin-blocks-bs_recent_badges-about .donation-button {
    margin-bottom: 8px;
}

.my-badges-description,
.my-badges-latestsystembadges {
    margin-bottom: 4px;
}

ul.my-badges-smalloverlapping>* {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 40%;
}

ul.my-badges-bigoverlapping>* {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 80%;
}

ul.my-badges-smalloverlapping, ul.my-badges-bigoverlapping {
    display: grid;
    justify-items: center;
}

.my-badges-smalloverlapping li .badge-image, .my-badges-bigoverlapping li .badge-image {
    width: 100%;
    height: unset;
}
.my-badges-description {
    text-align: center;
}